/Users/wpf/Desktop/log/test/linux-2.6.9/Documentation/DocBook/videobook.tmpl

static int radio_ioctl(struct video_device *dev, unsigned int cmd, void *arg)
{
copy_from_user(&amp;v, arg, sizeof(v))!=0)
copy_from_user(&amp;v, arg, sizeof(v)))
copy_from_user(&amp;v, arg, sizeof(v)))
copy_from_user(&amp;v, arg, sizeof(v)))
copy_from_user(&amp;v, arg, sizeof(v)))
copy_from_user(&amp;v, arg, sizeof(v)))
copy_from_user(&amp;v, arg, sizeof(v)))
copy_from_user(&amp;v, arg, sizeof(v)))
copy_from_user(&amp;v, arg, sizeof(v)))
copy_from_user(&amp;v, arg, sizeof(v)))
copy_from_user(&amp;v, arg, sizeof(v)))
copy_from_user(&amp;v, arg, sizeof(v)))
copy_from_user(&amp;v, arg, sizeof(v)))
copy_from_user(&amp;v, arg, sizeof(v)))
}
static int camera_ioctl(struct video_device *dev, unsigned int cmd, void *arg)
{
copy_from_user(&amp;v, arg, sizeof(v)))
copy_from_user(&amp;v, arg, sizeof(v)))
copy_from_user(&amp;v, arg, sizeof(v)))
copy_from_user(&amp;v, arg, sizeof(v)))
copy_from_user(&amp;v, arg, sizeof(v)))
copy_from_user(&amp;v, arg, sizeof(v)))
copy_from_user(&amp;v, arg, sizeof(v)))
copy_from_user(&amp;v, arg, sizeof(v)))
copy_from_user(&amp;v, arg, sizeof(v)))
copy_from_user(&amp;v, arg, sizeof(v)))
copy_from_user(&amp;v, arg, sizeof(v)))
copy_from_user(&amp;v, arg, sizeof(v)))
copy_from_user(&amp;v, arg, sizeof(v)))
copy_from_user(&amp;v, arg, sizeof(v)))
}
